!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RemoteHqRails
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    - if alert = flash[:notice] || flash[:alert]
      .row.wide.flashes
        .column
          - type = flash[:alert] ? 'warning' : 'success'
          .alert-box{ role: 'alert', :'data-alert' => true, class: type }
            = alert
            %a.close{ href:'#' } &times;

    .container
      = yield
